@import "tailwindcss";

@theme {
  --color-dark: #011C26;
  --color-light: #012840;
  --color-highlight: #41BF9B;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011C26;
    --foreground: #ededed;
  }
}

html {
    height: 100%
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.range-slider {
    accent-color: var(--logo);
    background-color: gray;
    border: none
}