@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --logo: #41BF9B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-logo: var(--logo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011C26;
    --foreground: #ededed;
  }
}

html {
    height: 100%
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
